<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet" type = "text/css" href = "../../Style/style.css">
	<link href='http://www.dafont.com/basic-title-font.font' rel='stylesheet' type='text/css'>
	<link href='http://www.dafont.com/bebas-neue.font' rel='stylesheet' type='text/css'>
	<title>Ji-hern Baek - Cafe Hop</title>
</head>
<body>

<div id = "navi">
	<ul>
		<li><a href="http://www.jihern.com" id = "Home">Home</a></li>
		<li><a href="../../Projects/projects.html" id = "Projects">Projects</a></li>
		<li><a href="../../About/about.html" id = "About">About</a></li>
		<li><a href="https://dochub.com/ji-hernbaek/VbPpJe/ji-hern_resume?mode=view" target="_blank" id = "Resume">RESUME</a></li>
		<li><a href="mailto:jgbaek@berkeley.edu" id = "Contact">Contact</a></li>
	</ul>
</div>
<!-- 
<div class = "back">
	<a class ="back-button" href ="../../Projects/projects.html">BACK</a>
</div>
 -->

<hr class="line-1">
<!--  	<a class="back-link" href="../../Projects/projects.html">back</a>	
 --> 	<p class="project-title"><i>Cafe Hop</i></p>
<hr class="line-2">

<p class="body-cafe"><b>Team</b>: Ji-hern Baek / <a target="_blank" href="https://www.linkedin.com/in/rahuldoraiswami">Rahul Doraiswami</a><br><br>This was a personal project, totalling approximately 1 week of work. On Rahul's end, this project involved back end development. On my end, it involved UX design and front end development.</p>
<p class="body-cafe"><i>Cafe Hop is a crowdsourcing platform for Cal students and general Berkeley residents with respect to cafe fullness. Viewers can input their observations in the form of a percentage; Cafe Hop will, then, provide a weighted moving average of ratings from the last 60 minutes.</i></p>

<p class="body-cafe">/ check out the <a target="_blank" href="http://www.cafehopberkeley.com">full website</a> /</p>

<br>
<div id="product-shot">
	<img class ="ch-shots-1" src="../Templates/Images/Cafe Hop Logo.png">
</div>

<p class="body-cafe"><u>The Problem</u></p>
<p class="body-cafe2">Berkeley has a serious lack of good study spaces. Whether it be campus libraries, restaurants that have free wifi, or cafes, they're almost always filled to the brink with students and Berkeley residents.</p>

<p class="body-cafe"><u>The Solution</u></p>
<p class="body-cafe2">Obviously, the forefront solution would be to simply open up more spaces. However, we understand the limitations faced by local business owners, as well as by the university. As such, we built Cafe Hop, which provides information that allows users to not only input information but also receive information regarding cafe capacity. Altogether, this means less time wasted looking for space. It's a community run platform that works well within this environment.</p>

<p class="body-cafe"><u>The Design</u></p>
<p class="body-cafe2">We wanted the design of the platform to be relatively simple and very intuitive upon first glance. We noted the necessity of explicated instructions; however, we made sure to incorporate them well into the design as to complement and not obstruct. Additionally, we wanted to make the platform both friendly and useful, so we added a small music tab to proivde students with a little help whilst studying.</p>
<br>
<div id="product-shot">
	<img class ="ch-shots" src="../Templates/Images/Cafe Hop Current.png">
</div>

<p class="body-cafe"><u>Future Additions</u></p>
<p class="body-cafe2">Some current developments that we're working on include: (1) javascript show/hide functions for the cafes, so as to provide space for more locations (2) a verification system to inhibit users from misuing their voting privileges (3) information regarding furnishings, outlets, environment, etc.</p>
<br>
<div id="product-shot">
	<img class ="ch-shots" src="../Templates/Images/Cafe Hop Future 1.png">
	<img class ="ch-shots" src="../Templates/Images/Cafe Hop Future 2.png">
</div>

<br>
<p class="body-cafe">/ check out the <a target="_blank" href="http://www.cafehopberkeley.com">full website</a> /</p>

<br><br><br><br>

</body>
</html>

