<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet" type = "text/css" href = "../../Style/style.css">
	<link href='http://www.dafont.com/basic-title-font.font' rel='stylesheet' type='text/css'>
	<link href='http://www.dafont.com/bebas-neue.font' rel='stylesheet' type='text/css'>
	<title>Ji-hern Baek - 100day</title>
</head>
<body>

<div id = "navi">
	<ul>
		<li><a href="http://www.jihern.com" id = "Home">Home</a></li>
		<li><a href="../../Projects/projects.html" id = "Projects">Projects</a></li>
		<li><a href="../../About/about.html" id = "About">About</a></li>
		<li><a href="https://dochub.com/ji-hernbaek/VbPpJe/ji-hern_resume?mode=view" target="_blank" id = "Resume">RESUME</a></li>
		<li><a href="mailto:jgbaek@berkeley.edu" id = "Contact">Contact</a></li>
	</ul>
</div>
<!-- 
<div class = "back">
	<a class ="back-button" href ="../../Projects/projects.html">BACK</a>
</div>
 -->

<hr class="line-1">
<!--  	<a class="back-link" href="../../Projects/projects.html">back</a>	
 --> 	<p class="project-title"><i>#the100dayproject</i></p>
<hr class="line-2">

<p class="body-100">In an effort to improve my illustration skills, I decided to try my hand at #the100dayproject, an online campaign that encourages creatives to dedicate themselves to a craft for one hundred days. Currently, I am still working towards my 100th day! You can check out my progress <a target="_blank" href="https://www.instagram.com/jbaek100">here</a>.</p>
<br>

<div id="picture-row">
	<a target="_blank" href="https://instagram.com/p/7T4j68tWLz/"><img class ="pictures-100" src="../Templates/Images/No Face.png"></a>
	<a target="_blank" href="https://instagram.com/p/7ZHvv8NWKt/"><img class ="pictures-100" src="../Templates/Images/Grave of the Fireflies.png"></a>
	<a target="_blank" href="https://instagram.com/p/7r1QxgtWHX/"><img class ="pictures-100" src="../Templates/Images/Rocket.png"></a>
	<a target="_blank" href="https://instagram.com/p/74qolotWFu/"><img class ="pictures-100" src="../Templates/Images/STEM.png"></a>
	<a target="_blank" href="https://instagram.com/p/77OiE1NWIU/"><img class ="pictures-100" src="../Templates/Images/Mountains.png"></a>
</div>

<p id="see-more">/ see the rest <a target="_blank" href="https://www.instagram.com/jbaek100">@jbaek100</a> /</p>
<br>
<p class="body-100"><u>Though I still have a ways to go, here are some things that I've learned</u>:</p>
<p class="body-200">1.&nbsp; If you can, spend one to two hours thinking about what you want to create. It takes a lot of thought to create illustrations directly from your imagination.
<br><br>2.&nbsp; On the flip side, if you don't have time, remember that putting time constraints on yourself can also be beneficial. A good friend of mine once mentioned that your best, most creative work comes when you are most constrained.
<br><br>3.&nbsp; I use reference images way too much, and I'm beginning to understand the divide between an expert designer from an amateur designer: the ability to imagine details and draw them from your and others' experiences.
<br><br>4.&nbsp; Do this with a friend! I have the pleasure of embarking on the journey that is the #100dayproject with my good friend, Wendy Xue. It makes it easier to hold yourself accountable and provides a channel to receive honest, critical feedback. Check out Wendy's work <a target="_blank" href="https://www.instagram.com/wxue100">here</a>.
	<br><br><br><br>
</p>


</body>
</html>

