<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet" type = "text/css" href = "../../Style/style.css">
	<link href='http://www.dafont.com/basic-title-font.font' rel='stylesheet' type='text/css'>
	<link href='http://www.dafont.com/bebas-neue.font' rel='stylesheet' type='text/css'>
	<title>Ji-hern Baek - FullDive</title>
</head>
<body>

<div id = "navi">
	<ul>
		<li><a href="http://www.jihern.com" id = "Home">Home</a></li>
		<li><a href="../../Projects/projects.html" id = "Projects">Projects</a></li>
		<li><a href="../../About/about.html" id = "About">About</a></li>
		<li><a href="https://dochub.com/ji-hernbaek/VbPpJe/ji-hern_resume?mode=view" target="_blank" id = "Resume">RESUME</a></li>
		<li><a href="mailto:jgbaek@berkeley.edu" id = "Contact">Contact</a></li>
	</ul>
</div>
<!-- 
<div class = "back">
	<a class ="back-button" href ="../../Projects/projects.html">BACK</a>
</div>
 -->

<hr class="line-1">
<!--  	<a class="back-link" href="../../Projects/projects.html">back</a>	
 --> 	<p class="project-title"><i>FullDive</i></p>
<hr class="line-2">

<p class="body-full"><b>Interns</b>: Ji-hern Baek / <a target="_blank" href="http://www.itsnickki.com">Nickki Nguyen</a><br><br>I had the opportunity of working at a virtual reality startup called <a href="http://www.fulldive.com">FullDive</a> this past summer. My internship went for 2 months during which I worked extensively on user research and UI/UX design. Specifically, my projects included conducting user research on the existing mobile application, designing the mobile login/sign up screen, redesigning the mobile home screen, and conceptualizing a 360 photo social media platform.</p>

<p class="body-full"><u>User Testing</u></p>
<p class="body-full2">One of the first tasks assigned to me was to go through the VR application (with and without a headset) and find painpoints, inconsistencies, and bugs. As such, Nickki and I ran our own personal tests to configure a user test that could potentially show major usability issues, as well as technical bugs. From the culmination of tests, we learned that the largest issues were user controls and the visibility of the apps' status. More specifically, users had difficulty paralleling the screen with their physical movements. Additionally, the cues that showed whether or not a user had correctly selected a button were overly subtle.</p>
<p id="see-more">/ check out a part of my initial <a target="_blank" href="../Templates/Images/Usability.pdf">usability test</a> /</p>


<p class="body-full"><u>Login/Sign Up Screen</u></p>w
<p class="body-full2">The next task I was assigned was to design a login/sign up page. The goal of this specific page was to accumulate user data in order to gauge interest and promote the release of FullDive's crowdfunding campaign.<br><br>However, one of the major challenges I faced while designing was regarding the existing user workflow; I wanted to ensure that logging win and signing up were easy processes. As such, we decided to provide users with the option of manually logging in and signing up, or utilizing their existing social media platforms. We would be able to garner data, and users would not be irritated.<br><br>For the physical design, I decided to go with the orange/dark blue palette that was utilized in our branding. Further, to add dimension, I went along with an ethereal theme, as depicted in the backdrop.</p>
<br>
<div id="product-shot2">
	<img class ="full-shots" src="../Templates/Images/Full 1.png">
	<img class ="full-shots" src="../Templates/Images/Full 2.png">
	<img class ="full-shots" src="../Templates/Images/Full 3.png">
	<img class ="full-shots" src="../Templates/Images/Full 4.png">
	<img class ="full-shots" src="../Templates/Images/Full 5.png">
	<img class ="full-shots" src="../Templates/Images/Full 6.png">
</div>
<p class="body-full"><u>Home Screen</u></p>
<p class="body-full2">From our rounds of usability tests, we realized that the best layout for the home screen was to maintain the side to side scrolling, as was in the original design. Having too many available directions for the user made it difficult to maintain control. However, we wanted to ensure that the new design was considerably cleaner, so we redesigned the background, created new icons, and adjusted the colors to match the brand.</p>
<br>
<div id="product-shot">
	<img class ="full-shots2" src="../Templates/Images/Full More.png">
	<img class ="full-shots2" src="../Templates/Images/Full Camera.png">
	<img class ="full-shots2" src="../Templates/Images/Full Browser.png">
	<img class ="full-shots2" src="../Templates/Images/Full Gallery.png">
	<img class ="full-shots2" src="../Templates/Images/Full Video.png">
	<img class ="full-shots2" src="../Templates/Images/Full YouTube.png">
	<img class ="full-shots2" src="../Templates/Images/Full YouTube2.png">
</div>
<br><br>
<div id="product-shot">
	<img class ="full-shots3" src="../Templates/Images/Full Navi.png">
</div>
<br><br><br><br>


</body>
</html>

