<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet" type = "text/css" href = "../../Style/style.css">
	<link href='http://www.dafont.com/basic-title-font.font' rel='stylesheet' type='text/css'>
	<link href='http://www.dafont.com/bebas-neue.font' rel='stylesheet' type='text/css'>
	<title>Ji-hern Baek - Portfolio</title>
</head>
<body>

<div id = "navi">
	<ul>
		<li><a href="http://www.jihern.com" id = "Home">Home</a></li>
		<li><a href="../../Projects/projects.html" id = "Projects">Projects</a></li>
		<li><a href="../../About/about.html" id = "About">About</a></li>
		<li><a href="https://dochub.com/ji-hernbaek/VbPpJe/ji-hern_resume?mode=view" target="_blank" id = "Resume">RESUME</a></li>
		<li><a href="mailto:jgbaek@berkeley.edu" id = "Contact">Contact</a></li>
	</ul>
</div>
<!-- 
<div class = "back">
	<a class ="back-button" href ="../../Projects/projects.html">BACK</a>
</div>
 -->

<hr class="line-1">
<!--  	<a class="back-link" href="../../Projects/projects.html">back</a>	
 --> 	<p class="project-title"><i>Personal Portfolio</i></p>
<hr class="line-2">

<p class="body-personal">Developed an online, personal portfolio to create a space for my own various projects and to showcase my work as an aspiring UI/UX designer. This portfolio totalled approximately two weeks.</p>

<div id="product-shot">
	<img class ="personal-shots" src="../Templates/Images/Hand.png">
</div>

<p class="body-personal"><u>The Design Process</u></p>
<p class="body-personal2">For my personal portfolio, I set out to create a communicative platform to showcase my work. Specifically, I wanted to clearly convey my passion for UI/UX design; showcase an interdisplinary set of skills; and prove that said skills were strong and showed further potential. 
	<br><br>Accordingly, I believed that the best way to accomplish the above was to implement a portfolio design that, in and of itself, showcased a keen eye for design, clearly depicted my projects, and was simple yet maintained individual character - hopefully I was able to do all of that well!<br><br>To lead up to the full implementation, I looked into other designers' portfolios to garner inspiration for design ideation. Through this, I learned of the importance of keeping my portfolio clean, providing well-written case studies accompanied by design process visuals, and higlighting my interdisciplinary skills and experiences.<br><br>The following designs show the final mockups, though it is important to note that there have been many changes since the initial designs, as I am still going through rounds of user testing and receiving feedback from friends.</p>
<br>
<div id="product-shot">
	<img class ="personal-shots2" src="../Templates/Images/Portfolio Home.png">
	<img class ="personal-shots2" src="../Templates/Images/Portfolio Projects.png">
	<img class ="personal-shots2" src="../Templates/Images/Portfolio About.png">	
	<img class ="personal-shots3" src="../Templates/Images/Portfolio Template.png">
	<img class ="personal-shots3" src="../Templates/Images/Portfolio Smart.png">
	<img class ="personal-shots3" src="../Templates/Images/Portfolio Cafe.png">		
	<img class ="personal-shots3" src="../Templates/Images/Portfolio 100.png">			
</div>

</body>
</html>

