<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet" type = "text/css" href = "../../Style/style.css">
	<link href='http://www.dafont.com/basic-title-font.font' rel='stylesheet' type='text/css'>
	<link href='http://www.dafont.com/bebas-neue.font' rel='stylesheet' type='text/css'>
	<title>Ji-hern Baek - SmartShelf</title>
</head>
<body>

<div id = "navi">
	<ul>
		<li><a href="http://www.jihern.com" id = "Home">Home</a></li>
		<li><a href="../../Projects/projects.html" id = "Projects">Projects</a></li>
		<li><a href="../../About/about.html" id = "About">About</a></li>
		<li><a href="https://dochub.com/ji-hernbaek/VbPpJe/ji-hern_resume?mode=view" target="_blank" id = "Resume">RESUME</a></li>
		<li><a href="mailto:jgbaek@berkeley.edu" id = "Contact">Contact</a></li>
	</ul>
</div>

<hr class="line-1">
	<p class="project-title"><i>SmartShelf</i></p>
<hr class="line-2">

<p class="body-smart"><b>Team</b>: Ji-hern Baek / <a target="_blank" href="https://www.linkedin.com/in/narenvasanad">Naren Vasanad</a> / Tanisha Singh / <a target="_blank" href="https://www.linkedin.com/in/kevalbers">Kevin Albers</a><br><br>This was a project for 'Computer Science 160: User Interface'. The project was completed within a semester (~4 months) and involved extensive user research, sketches, wireframes, prototyping, and user testing.</p>
<p class="body-smart"><i>SmartShelf is a stock management IoT device that works hand-in-hand with a phone application to assist users in keeping track of inventory, ordering new stock when necessary, and facilitating better and faster workflow.</i></p>
<p class="body-smart">/ check out the <a target="_blank" href="../Templates/Images/Infographic.pdf">entire design process</a> /</p>
<br>

<div id ="ss-container"><img id ="ss-logo" src="../Templates/Images/SS Logo.png"></div>
<br>
<div class="video">
	<iframe width="450" height="315" src="https://www.youtube.com/embed/tXH1l2Hbcx8" frameborder="0" allowfullscreen></iframe>
</div>

<p class="body-smart"><u>The Problem</u></p>
<p class="body-smart2">At the initial conceptualization stage, we wanted to address the difficulties surrounding food stock management, food expiration dates, and restocking for young, working adults. However, soon after, we modified and translated our idea over to address the difficulties that food retailers had with the aforementioned. This particular target change was made upon realizing the difficulties of user testing i.e. the infeasibility of receiving permission into strangers' home. Additionally, with current stock management workflows being outdated, we felt we could have a more significant impact with the new direction.</p>

<p class="body-smart"><u>The Solution</u></p>
<p class="body-smart2">We decided to develop a hardware shelf that could detect inventory items via weight sensors - we used the <a target="_blank" href="http://kinoma.com">Kinoma Studios</a>  framework to model this. Accordingly, users would utilize their phones to scan individual stock items (which would provide the average weight of each individual item). They would then place whole boxes of said items and place them on the shelf, allowing the shelf to calibrate and process the weight. As users would deplete specific items, the shelf would send live data regarding how much of each stock item was left.</p>


<p class="body-smart"><u>User Research</u></p>
<p class="body-smart2">We conducted initial user surveys and contextual inquiries with local Berkeley food retailers. Through these particular research mechanisms, we reaffirmed that stock management workflows were indeed manual. In addition, most food retail employees kept track of stock twice a day (at the beginning and at the end) and, often times, mentally.<br><br> Our initial user research led to a <a target="_blank" href="../Templates/Images/Balsamiq.pdf">low-fidelity prototype on Balsamiq</a>. Subsequent user tests led to a high-fidelity prototype - as mentioned before, through the Kinoma Studios framework.</p>

<div id="product-shot">
	<img class ="ss-shots" src="../Templates/Images/Old 1.png">
	<img class ="ss-shots" src="../Templates/Images/Old 2.png">
</div>

<p class="body-smart"><u>The Final Product</u></p>
<p class="body-smart2">After numerous rounds of user research, user testing, and design reiterations, we realized the difficulty of integrating our device into the natural workflow i.e. keeping track of stock throughout the day, checking items, reordering, etc. As such, we finalized our product to showcase four primary features: (1) adding items to the shelf, (2) viewing the entire shelf view and where items are, (3) locating specific items on the shelf, and (4) seeing which items are low. To that extent, we simplified our application to convey only necessary information. Additionally, we ensured that the physical process of utilizing our platform was well integrated into the existing workflow (we conducted contextual inquiries in order to accomplish this).</p>

<div id="product-shot">
	<img class ="ss-shots" src="../Templates/Images/New 1.png">
	<img class ="ss-shots" src="../Templates/Images/New 2.png">
	<img class ="ss-shots" src="../Templates/Images/New 3.png">
<br><br>
<p class="body-smart">/ check out the <a target="_blank" href="../Images/Templates/Images/Infographic.pdf">entire design process</a> /</p>
<br><br><br><br>
</div>
</body>
</html>

